* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(30, 38%, 92%);
  position: relative;
}

@media only screen and (max-width: 375px) {
  body {
    width: auto;
    height: 100vh;
  }
}

.card {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 800px;
  column-gap: 0.5rem;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

@media only screen and (max-width: 375px) {
  .card {
    width: auto;
    height: auto;
    grid-template-columns: auto;
    margin: 0 auto;
  }
}

.card-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 375px) and (max-width: 425px) {
  .card-img {
    height: 20vh;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}

.card-content-heading {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.card-title {
  font-size: 54px;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}

@media only screen and (max-width: 375px) {
  .card-title {
    font-size: 24px;
  }
}

.card-content {
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

@media only screen and (max-width: 375px) {
  .card-content {
    font-size: 14px;
  }
}

.card-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.8px;
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.card-body {
  display: flex;
  align-items: center;
  gap: 50px;
}

.card-price--act {
  color: hsl(158, 36%, 37%);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  font-family: "Fraunces";
}

.card-price--old {
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 500;
}

.card-btn {
  width: 80%;
  background-color: hsl(158, 36%, 37%);
  font-size: 22px;
  padding: 16px;
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 12px;
  font-family: "Montserrat";
  font-weight: 500;
}

.card-btn:hover,
.card-btn:active {
  background-color: hsl(157, 37%, 22%);
}

@media only screen and (max-width: 375px) {
  .card-btn {
    font-size: 14px;
    margin-bottom: 20px;
    width: 60vw;
  }
}

.attribution {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 50%);
}
